@media only screen and (max-width: 2000px) and (min-width: 1200px)  {
    body {
        background-image: url("../images/addamshouse.jpg");
        background-size: cover;
    }
    
    /* DIVS */
    
    .flex-container {
        /*display: flex;*/
        background-color: #cc0000;
        width: 100%;
        height: 55px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }
    
    .flex-container > div {
        /*background-color: #f1f1f1;*/
        margin: 10px;
        /*padding: 20px;
        font-size: 30px;*/
    }
    
    i {
        font-style: none;
        font-size: 1.7em;
    }
    #design {
        text-align: center;
        /*border: 2px solid #000;*/
        width: 1285px;
        height: 45px;
        margin-left: 118px;
        margin-top: -2px;
        padding-top: 10px;
    }
    #info {
        background-color: #fff;
        color: #000;
        font-size: 1em;
        float: left;
        margin-top: -2px;
        margin-left: -5px;
        height: 55px;
        width: 120px;
        border: 2px solid #000;
        font-weight: bolder;
        text-align: center;
    }
    
    #cca {
        float: right;
        margin-right: 10px;
        margin-top: -75px;
        width: 100px;
        height: 226px;
    }
    
    #cca img {
        width: 100px;
        
    }
    
    div h1 {
        font-family: 'Fredericka the Great', cursive;
        font-size: 8em;
        margin-top: 17px;
        color: #cc0000;
        text-shadow: 5px 5px #ffdead;
        margin-left: 2px;
    }
    
    /* IMAGES */
    
    #cornerbox {
        width: 120px;
        border: 2px solid #000;
        margin-left: -5px;
        margin-top: -2px;
    }
}

a {margin-left: 800px; margin-top: 100px;}

@media only screen and (max-width: 1199px) and (min-width: 600px)  {
    body {
        /*background-image: url("../images/wall.jpg");0
      background-size: cover;
        background-repeat: no-repeat;*/
    }
    
    /* DIVS */
    
    .flex-container {
        display: flex;
        background-color: #cc0000;
        width: 100;
    }
    
    .flex-container > div {
        margin: 10px;
    }
    
    i {
        font-style: none;
        font-size: 1.7em;
    }
    
    #info {
        background-color: #fff;
        color: #000;
        padding: 10px;
        font-size: 15px;
    }
    div h1 {
        font-family: 'Fredericka the Great', cursive;
        font-size: 8em;
        margin-top: 17px;
        color: #cc0000;
        text-shadow: 5px 5px #ffdead;
        margin-left: 2px;
    }
    
    /* IMAGES */
    
    #dead {
        width: 120px;
    }
}