@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Fredericka+the+Great&family=Notable&family=Oswald&display=swap');

body {
    font-family: 'Amatic SC', cursive;
    color: #ffd500;
    text-align: center;
}

#info {
    font-family: 'Oswald', sans-serif;
}

#design {
    font-family: 'Notable', sans-serif;
}

#link a {
    text-decoration: none;
    font-family: 'Fredericka the Great', cursive;
    color: #5f0d0a;
}

h1 a {
    text-decoration: none;
    font-family: 'Fredericka the Great', cursive;
    color: #5f0d0a;
}
/*
font-family: 'Amatic SC', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Notable', sans-serif;
font-family: 'Oswald', sans-serif; */
