@media only screen and (max-width: 2000px)  {
    body {
        background-image: url("../images/addamshouse.jpg");
        background-size: cover;
    }
    
    /* DIVS */
    
    .flex-container {
        /*display: flex;*/
        background-color: #cc0000;
        width: 100%;
        height: 55px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }
    
    .flex-container > div {
        /*background-color: #f1f1f1;*/
        margin: 10px;
        /*padding: 20px;
        font-size: 30px;*/
    }
    
    i {
        font-style: none;
        font-size: 1.7em;
    }
    #design {
        text-align: center;
        /*border: 2px solid #000;*/
        width: 1285px;
        height: 45px;
        margin-left: 118px;
        margin-top: -2px;
        padding-top: 10px;
    }
    
    #info {
        background-color: #fff;
        color: #000;
        font-size: 1em;
        float: left;
        margin-top: -2px;
        margin-left: -5px;
        height: 55px;
        width: 120px;
        border: 2px solid #000;
        font-weight: bolder;
        text-align: center;
    }
    
    #cca {
        float: right;
        margin-right: 10px;
        margin-top: -75px;
        width: 100px;
        height: 226px;
    }
    
    #cca img {
        width: 100px;
        
    }
    
    #link {margin-left: 1010px; margin-top: 100px;}
    #cornerbox {
        border: 2px solid #000;
        margin: -2px 0px 0px -5px;
        width: 120px;
        height: 260px;
        background-image: url("../images/box01.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    /* IMAGES */
    
    #cornerbox img {
        width: 120px;
    }
}
