@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body {
    font-family: "Special Elite", system-ui;
    font-style: normal;
    background-color: #fff;
    text-align: justify;
    text-justify: inter-word;
}

h2 {
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


p {
    padding: 0 10px 0 10px;
}

.lambert {
    text-align: center;
    font-weight: bolder;
}

.text a {
    text-decoration-color: orangered;
    text-decoration-style: double;
    color: #000000;
    font-weight: bolder;
}

.text {text-indent: 10px;}
            
b {
    font-weight: bolder;
    font-size: 22px;
}

.places {
    margin-left: 10px;
}

.places a {
    color: olivedrab;
    font-weight: bolder;
}

.places a:visited {
    color: olivedrab;
}

/* IMAGES */

img not(#band){
    height: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
    padding-left: 15px;
}

.left {
    float: left; 
    padding-right: 15px;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.thelma {
    display: flex;
    float: left;
    padding-right: 10px;
}

.morgan {
    display: flex;
    float: right;
    padding-left: 10px;
}

iframe {
    /*width: 560px;*/
    height: 315px;
}