@media only screen and (max-width: 600px)  {
    body {
        background-image: url("../images/box01.jpg");
        background-size: cover;
    }
    
    /* DIVS */
    div {visibility: hidden;}
    .flex-container {
        visibility: hidden;
        overflow: hidden;}
    h1 {visibility: visible;}
    
    #href {
        visibility: visible;
        float: left;
        margin: -25px 0 0 40px;
    }
    
    a {
        text-decoration: none;
        color: #cc0000;
    }
}
