@media only screen and (min-width: 600px) {
    .topnav {
        overflow: hidden;
        background-color: #fff;
        text-align: center;
    }
    
    .topnav a {
        float: left;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        text-transform: lowercase;
    }
    
    .topnav a:hover {
        color: purple;
        font-weight: bolder;
        text-shadow: -2px -1px #000;
    }
    
    .topnav a.active {
        color: #ff4500;
        font-weight: bolder;
        text-shadow: -2px -1px #000;
    }
    
    #hamburger {display: none;}
    .places a {text-decoration: none;}
}

@media only screen and (max-width: 400px) {
    #hamburger ul {list-style-type: none;}
    .active {background-color: #ff4500; color: #000;}
    #hamburger ul a {text-decoration: none;}
    
    #menu {display: hidden; visibility: none;}
    
    .places a {text-decoration: none;}
    
    )
