@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Notable&family=Roboto+Slab:wght@900&display=swap');

div {
    font-family: 'Montserrat', sans-serif;
}

i {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Notable', sans-serif;
    font-style: normal;
     color: orange;
}

