@media only screen and (min-width: 800px) {
    /* ALL PAGES */
        
   body {
        background-color: #000;
       color: #f4b637;
       width: 100%;
       overflow-x: hidden;
       text-transform: uppercase;
        
    }
    
    /* colors */
    
    .red {
        background-color: #e10a2e;
        color: #000;
    }
    
    .yellow {
        background-color: #f4b637;
        color: #000;
    }
    
    .blue {
        background-color: /*#1d5297*/#1e90ff;
        color: #000;
    }
    
    .purple {
        background-color: #9e2d82;
        color: #000;
    }
    
    .green {
        background-color: #aac734;
        color: #000;
    }
    
    #h1 {
        text-decoration: underline;
        font-weight: bolder;
        font-size: 75px;
    }
    
    #mouth {
        margin-top: -75px;
    }
    
    
    /* top div */
    
    #top {
        display: flex;
        flex-direction: row;
        height: auto;
        height: 25px;
        z-index: 1;
    }
    
    #one {
        width: 950px;
        border-top-left-radius: 25px;
        z-index: 1;
    }
    
    #two {
        width: 300px;
        text-align: center;
        z-index: 1;
    }
    
    #three {
        width: 22px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        z-index: 1;
    }
    
    /* MENU */
    
    #menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        text-align: center;
        z-index: 1;
        background-color: #000;
    }
    
   
    #four {z-index: 1;}
    
    #five {
        font-size: 25px;
        height: 85px;
        /*line-height: 115px;*/
        z-index: 1;
    }
    
    .frame {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        position: absolute;
        z-index: 2;
        width: 758px;
        margin: -550px 0 0 190px;
        padding-top: 25px;
        padding-left: 250px;
        /*border: 1px solid #fff;*/
    }
    
    iframe {
        z-index: 1px;
        border-radius: 25px;
        width: 700px;
    }
    
    .button {
        height: 75px;
        margin-top: 10px;
        font-size: 25px;
        line-height: 70px;
        z-index: 1;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    
    /* BOTTOM */
    
    #fifteen {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }
    /* LINKS */
    
    a {
        color: #000;
        text-decoration: none;
    }
    
    a:hover {
        color: lemonchiffon;
    }
    
    .active {
        color: #fff;
    }
    
    #frame {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;\
        margin-left: -15px;
        border: 1px solid #fff;
    }
    
    iframe {
        width: 580px;
        height: 400px;
        margin-left: 15px;
        border: 0;
    }
}
