@media only screen and (min-width: 800px) {
    /* ALL PAGES */
    
    body {
        background-color: #000;
        color: #999;
        overflow-x:hidden;
        width: 100%;
        height: 100%;
    }
    
    .black {
        background-color: #000;
        color: #cc9900;
    }
    
    .blue {
        color: #000;
        background-color: #1d5297;
    }
    
    .red {
        background-color: #e10a2e;
        color: #000;
    }
    
    .yellow {
        background-color: #f7e83b;
        color: #000;
    }
    
    #home {
        text-decoration: none;
    }
    
   #menu {
        font-weight: bolder;
        text-align: center;
        margin-top: 0;
        width: 100px;
        height: 75px;
        display: table-cell;
        vertical-align: bottom;
    }
    
    #name {
        margin-top: -24px;
        margin-right: 20px;
        padding-left: 5px;
        padding-right: 5px;
        float: right;
        display: table-cell;
        vertical-align: middle;
        font-weight: bolder;
        text-align: center;
    }
    
    #top {
        border-top-left-radius: 25px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
    }
    
    /* LINKS */
    
    a {
        text-decoration: none;
        font-weight: bolder;
        color: #000;
    }
    
    .active {
       background-color: #3eac40;
    }
    
    .center {
        line-height: 50px;
        text-indent: 25px;
    }
    
    .column {
        width: 105px;
        height: 50px;
        margin-top: 5px;
        
    }
    
    #blank {
        font-weight: bolder;
        text-align: center;
        width: 100px;
        height: 75px;
    }
    
    #bottom {
        width: 100%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    #contact {
        line-height: 50px;
        text-indent: 20px;
    }
    
    #index #hello {
        width: 1275px;
        margin-top: -477px;
        margin-left: 90px;
        height: 435px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        text-align: center;
        line-height: 350px;
    }
    
   .hover:hover {
        background-color: #5e3784;
    }
    
    .active:hover {
        background-color: #5e3784;
    }
    
    #hover:hover {
        background-color: #5e3784;
    }
        
    /* ABOUT.HTML */
    
    #about #menu {
        width: 105px;
    }
    
    #about #top {
        border-top-left-radius: 0;
        border-bottom-left-radius: 25px;
    }
    
    #about nav li a {
        padding: 3px;
    }
    
    nav {
        
        border-bottom-left-radius: 20px;
        margin-top: -99px;
        margin-left: 100px;
        width: 1300px;
        height: 78px;
        background-color: #000;
    }
    
    .lists {
        color: #f2c300;
    }
    
    #line {
        margin-top: 35px;
        border-top-left-radius: 25px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    #menu2 {
        height: 100px;
        margin-top: 5px;
        width: 105px;
        height: 500px;
    }
    
   #index #hello {
        width: 1257px;
        margin-top: -456px;
        margin-left: 90px;
        height: 425px;
        border-top-left-radius: 20px;
        padding-left: 5px;
        padding-top: 10px;
    }
    
    #about p {
        margin-left: 5px;
        color: #fff;
    }
}
