@media only screen and (max-width: 414px) {
    
    body {
        background-color: #000;
        color: #999;
    }
    
    .top {
        width: 100%;
    }
    
    /* div colors */
    
    .yellow {
        background-color: #cc9900;
        color: #000;
    }
    #menu {
        display: hidden;
    }
    
    #frame {
        display: hidden;
    }
}
