@media only screen and (max-width: 450px) {
    
    body {
        background-color: #000;
        color: #999;
    }
    
    .column {
        display: hidden;
    }
    
    /* div colors */
    
    .yellow {
        background-color: #cc9900;
        color: #000;
    }
    #menu {
        display: hidden;
    }
    
    #hello {
        width: 1175px;
        margin-top: -455px;
        margin-left: 90px;
        height: 432px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
    }
    
    #ufp {
        width: 375px;
        margin-top: 50px;
        margin-left: 200px;
        
    }
}
