@media only screen and (max-width: 414px) {
    
    body {
        background-color: #000;
        color: #f4b637;
       overflow-x: hidden;
       text-transform: uppercase;
    }
    
    .top {
        width: 100%;
    }
    
    /* div colors */
    
    .yellow {
        background-color: #cc9900;
        color: #000;
    }
    #menu {
        display: hidden;
    }
    
    #frame {
        display: hidden;
    }
    
    /* LINKS */
    
    a {
        color: #000;
        text-decoration: none;
    }
    
    a:hover {
        color: powderblue;
    }
    
    .active {
        color: #fff;
    }
}
