@media screen and (max-width: 1900px) {
    
    table {
        width: 100%;
        text-align: justify;
    }
    p {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #bio {
        background-color: #cc9999;
        width: 20%;
        color: #000;
    }
    
    #biopic {
        width: 275px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: -100px;
        padding-bottom: 10px;
    }
    
    .left {
        width: 80%;
    }
    
    .other {
        width: 100%;
    }
    
    

#stats {
    padding-left: 30px;
}

.other {
    padding-left: 10px;
}

/* IMAGES */

#bio {
    margin-top: -105px;
    width: 250px;
    
}
    
.thelma {
    width: 200px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.morgan {
    width: 200px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.horizontal {
    height: 269px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.img:hover {
    width: 555px;
}
}
