@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Notable&family=Roboto+Slab:wght@900&display=swap');

div {
    font-family: 'Montserrat', sans-serif;
}


/* BODY */

h1 {
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Notable', sans-serif;
    font-style: normal;
    color: #000;
    text-shadow: 5px 5px #999;
    text-align: center;
    font-size: 50px;
}

i {
    visibility: hidden;
}

.imgleft {
    margin-left: -30px;
    margin-top: -35px;
}

p {
    font-size: 16px;
}

a {
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
